<ion-header>
	<ion-navbar>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="post">{{post.title.rendered}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="post">
  <ion-list *ngIf="post">
    <ion-card>
        <ion-item text-wrap>
            <h1 [innerHTML]="post.title.rendered"></h1>
            <!-- <h4 class="date">{{post.date | date: 'fullDate'}}</h4> -->
        </ion-item>
    </ion-card>

    <ion-card text-wrap *ngIf="post.content.rendered">
        <p padding [innerHtml]="post.content.rendered"></p>
    </ion-card>

<button ion-button full (click)=previewPost()>Zoom</button>

  </ion-list>
</ion-content>
